* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

main {
  min-height: 100px;
  min-width: 100px;
  background-color: tomato;
}